#kiflo1 li{
	display: inline;
	float: right;
}
#kiflo1{
	background-image: url(../pictures/tough_warrior.jpg);
}

#kiflo3{
	background-color: orange;
	float: left;
	width: 50%;
	
		border-style: dashed;
  
}
#kiflo4{
	background-color: #ff5c33;
	float: right;
	width: 48%;
	
	border-style: dashed;

}
#kiflo5{
	background-color:  #3333ff;
}
img{
	width: 5%;height:5%

}

.footer{
	background-color: #4747d1;
}